<h1><%= "#{@flight.airline.name} - #{@flight.number}" %></h1>
<h2>Date: <%= @flight.date %></h2>
<h2>Time: <%= @flight.time %></h2>
<h2>Departure city: <%= @flight.departure_city %></h2>
<h2>Arrival city: <%= @flight.arrival_city %></h2>
<h3>Passengers on this flight:</h3>
<ul>
  <% @flight.passengers.each do |passenger| %>
    <li><%= passenger.name %></li>
  <% end %>
</ul>
<p>Number of minors on flight: <%= @flight.num_minors %></p>
<p>Number of adults on flight: <%= @flight.num_adults %></p>
