<h1>Passenger info: <%= @passenger.name %></h1>
<section class="flights">
  <h2><%= @passenger.name %>'s flights:</h2>
  <ul>
    <% @passenger.flights.each do |flight| %>
      <li><%= link_to "Flight ##{flight.number}", "/flights/#{flight.id}" %></li>
    <% end %>
  </ul>
</section>
<section class="add_flight">
  <h2>Add a flight:</h2>
  <%= form_tag "/flight_passengers", method: :post do %>
    <%= label_tag "Flight number:" %>
    <%= number_field_tag :flight_number %>
    <%= submit_tag "Submit" %>
  <% end %>
</section>
